*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.966);
}
.text{
    text-align: center;
    margin-top: 10%;
    

}
.text h4{
    font-size: larger;
    font-weight: 700;
    font-size: 100PX;
    font-family:sans-serif;
    
}
.text h1{
font-size: 180px;
color: green;
    margin-top: 50px;
}
.buttons ul {
display: flex;
text-align: center;
justify-content: center;
gap: 60px;
margin-top: 50px;
letter-spacing: 5px;
}
.decrease{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    letter-spacing: 5px;
}
.reset{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    letter-spacing: 5px;
}
.increase{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: transparent;
    letter-spacing: 5px;
}